<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>quanlybanhang</display-name>

  <welcome-file-list>
    <welcome-file>/frontend/index.jsp</welcome-file>
  </welcome-file-list>
  
  <!-- Static resource -->
  <!-- ./. End Static resource -->

  <!-- Frontend URI -->
  <!-- Giới thiệu -->
  <servlet>
    <servlet-name>frontend.about</servlet-name>
    <jsp-file>/frontend/about.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>frontend.about</servlet-name>
    <url-pattern>/gioi-thieu/</url-pattern>
  </servlet-mapping>

  <!-- Liên hệ -->
  <servlet>
    <servlet-name>frontend.contact</servlet-name>
    <jsp-file>/frontend/contact.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>frontend.contact</servlet-name>
    <url-pattern>/lien-he/</url-pattern>
  </servlet-mapping>
  <!-- ./. End Frontend URI -->


  <servlet>
    <servlet-name>index22</servlet-name>
    <jsp-file>/home/index1.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>index22</servlet-name>
    <url-pattern>/home1/</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>Update_bchChiDoan</servlet-name>
    <jsp-file>/cap_nhat_ban_chap_hanh_doan/update_bchchidoan.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Update_bchChiDoan</servlet-name>
    <url-pattern>/cap_nhat_ban_chap_hanh_chi_doan/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Update_SinhVien</servlet-name>
    <jsp-file>/cap_nhat_sinh_vien/cap_nhat_sinh_vien.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Update_SinhVien</servlet-name>
    <url-pattern>/cap_nhat_sinh_vien/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Update_ChiDoan</servlet-name>
    <jsp-file>/cap_nhat_sinh_vien/update_chi_doan.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Update_ChiDoan</servlet-name>
    <url-pattern>/cap_nhat_chi_doan/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SHOW_ALL_BanChapHanhDoan</servlet-name>
    <jsp-file>/cap_nhat_ban_chap_hanh_doan/cap_nhat_ban_chap_hanh_doan.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>SHOW_ALL_BanChapHanhDoan</servlet-name>
    <url-pattern>/ban_chap_hanh_chi_doan/</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BanChapHanhDoanKhoa</servlet-name>
    <jsp-file>/cap_nhat_ban_Chap_hanh_doan_khoa/cap_nhat_ban_chap_hanh_doan_khoa.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>BanChapHanhDoanKhoa</servlet-name>
    <url-pattern>/ban_chap_hanh_doan_khoa/</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>KeHoach</servlet-name>
    <jsp-file>/cap_nhat_ke_hoach/cap_nhat_ke_hoach.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>KeHoach</servlet-name>
    <url-pattern>/kehoach/</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TK_KHDADUYET</servlet-name>
    <jsp-file>/ds_ke_hoach_da_duyet/danh_sach_ke_hoach_da_duyet.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>TK_KHDADUYET</servlet-name>
    <url-pattern>/ds_ke_hoach_da_duyet/</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>TK_ALL_KEHOACH</servlet-name>
    <jsp-file>/thong_ke_ke_hoach/tk_ke_hoach.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>TK_ALL_KEHOACH</servlet-name>
    <url-pattern>/thong_ke_ke_hoach/*</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>TK_KH_SV</servlet-name>
    <jsp-file>/tk_hoat_dong_cua_sv/tk_hd_sv.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>TK_KH_SV</servlet-name>
    <url-pattern>/ds_hoat_dong_cua_sv/*</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>TK_KH_CD</servlet-name>
    <jsp-file>/tk_hoat_dong_cua_sv/tk_hd_cd.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>TK_KH_CD</servlet-name>
    <url-pattern>/ds_hoat_dong_cua_chi_doan/*</url-pattern>
  </servlet-mapping>
     <servlet>
    <servlet-name>TK_KH_CHI_TIET</servlet-name>
    <jsp-file>/ds_ke_hoach_da_duyet/tim_kh_chi_tiet.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>TK_KH_CHI_TIET</servlet-name>
    <url-pattern>/tim_ke_hoach_chi_tiet/*</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>authentication</servlet-name>
    <servlet-class>controller.authentication</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>authentication</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
</web-app>