<%@ page language="java" contentType="text/html; charset=UTF8"
    pageEncoding="UTF8"%>

<header>
	<!-- Header desktop -->
	<div class="container-menu-desktop">
		<div class="wrap-menu-desktop">
			<nav class="limiter-menu-desktop container">

				<!-- Logo desktop -->
				<a href="/quanlybanhang/" class="logo">
					<img src="/quanlybanhang/assets/images/logo.jpg" alt="IMG-LOGO">
				</a>

				<!-- Menu desktop -->
				<div class="menu-desktop">
					<ul class="main-menu">
						<li class="active-menu">
							<a href="/quanlybanhang/">Trang chủ</a>
						</li>

						<li>
							<a href="/quanlybanhang/gioi-thieu/">Giới thiệu</a>
						</li>

						<li>
							<a href="/quanlybanhang/lien-he/">Liên hệ</a>
						</li>

						<li>
							<a href="/quanlybanhang/admin/">Quản lý</a>
						</li>
					</ul>
				</div>
			</nav>
		</div>
	</div>

	<!-- Header Mobile -->
	<div class="wrap-header-mobile">
		<!-- Logo moblie -->
		<div class="logo-mobile">
			<a href="index.html"><img src="/quanlybanhang/assets/theme/cozastore/images/icons/logo-01.png" alt="IMG-LOGO"></a>
		</div>

	</div>


	<!-- Menu Mobile -->
	<div class="menu-mobile">
		<ul class="main-menu-m">
			<li class="active-menu">
				<a href="/quanlybanhang/">Trang chủ</a>
			</li>

			<li>
				<a href="/quanlybanhang/gioi-thieu/">Giới thiệu</a>
			</li>

			<li>
				<a href="/quanlybanhang/lien-he/">Liên hệ</a>
			</li>

			<li>
				<a href="/quanlybanhang/admin/">Quản lý</a>
			</li>
		</ul>
	</div>
</header>