<!DOCTYPE html>
<html>
<%@ page language="java" contentType="text/html; charset=UTF8"
    pageEncoding="UTF8"%>

<!--===============================================================================================-->	
<link rel="icon" type="image/png" href="/quanlybanhang/assets/theme/cozastore/images/icons/favicon.png"/> 
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="/quanlybanhang/assets/theme/cozastore/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="/quanlybanhang/assets/theme/cozastore/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="/quanlybanhang/assets/theme/cozastore/fonts/iconic/css/material-design-iconic-font.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="/quanlybanhang/assets/theme/cozastore/fonts/linearicons-v1.0.0/icon-font.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="/quanlybanhang/assets/theme/cozastore/vendor/animate/animate.css">
<!--===============================================================================================-->	
<link rel="stylesheet" type="text/css" href="/quanlybanhang/assets/theme/cozastore/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="/quanlybanhang/assets/theme/cozastore/vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="/quanlybanhang/assets/theme/cozastore/vendor/select2/select2.min.css">
<!--===============================================================================================-->	
<link rel="stylesheet" type="text/css" href="/quanlybanhang/assets/theme/cozastore/vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="/quanlybanhang/assets/theme/cozastore/vendor/slick/slick.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="/quanlybanhang/assets/theme/cozastore/vendor/MagnificPopup/magnific-popup.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="/quanlybanhang/assets/theme/cozastore/vendor/perfect-scrollbar/perfect-scrollbar.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="/quanlybanhang/assets/theme/cozastore/css/util.css">
<link rel="stylesheet" type="text/css" href="/quanlybanhang/assets/theme/cozastore/css/main.css">
<!--===============================================================================================-->

</html>